extends ../template
block content
    h2 Tao chi tieu moi

    form(action="/home" method="POST")
        .form-group
            label(for='exampleFormControlInput1') Monney
            input#exampleFormControlInput1.form-control(type='text' name="money" placeholder='Nhập số tiền...' required)
            span(id='mess')
        .form-group
            label(for='exampleFormControlSelect1') Danh Mục
            select#exampleFormControlSelect1.form-control(name="danhMuc")
                option Ăn uống
                option Tán gái/trai
                option Xe cộ
                option Thẻ ĐT
                option Làm đẹp
                option Cà Phê, Trà Sữa
                option Lương
                option Phụ Cấp
                option Tiết Kiệm
                option Internet
                option Tiền điện
                option Tiền nước
                option Đám,Tiệc
                option Tiền học
                option Mua sắm
        .form-group
            label(for='exampleFormControlSelect1') Thể Loại
            select#exampleFormControlSelect1.form-control(name="theLoai")
                option Chi
                option Thu
                option Cho Vay
                option Nợ
        .form-group
            label(for='exampleFormControlTextarea1') Ghi chú
            textarea#exampleFormControlTextarea1.form-control(rows='3' name="ghiChu")
        button.btn.btn-primary.mt-5.mr-5(type='submit') Save
        button.btn.btn-primary.mt-5.ml-5.mr-5(type='reset') Reset
        a.btn.btn-danger.ml-5.mt-5(href='/home') Cancel
