extends ../template
block content
    h2 Edit

    form(action="/home/edit/" +spend._id method="POST")
        .form-group
            label(for='exampleFormControlInput1') Monney
            input#exampleFormControlInput1.form-control(type='text' name="money" placeholder='Nhập số tiền...' value=spend.money)
        .form-group
            label(for='exampleFormControlSelect1') Danh Mục
            select#exampleFormControlSelect1.form-control(name="danhMuc")
                each category in categories
                    option(selected=spend.danhMuc === category)=category


        .form-group
            label(for='exampleFormControlSelect1') Thể Loại
            select#exampleFormControlSelect1.form-control(name="theLoai")
                each item in types
                    option(selected=spend.theLoai === item)=item


        .form-group
            label(for='exampleFormControlTextarea1') Ghi chú
            textarea#exampleFormControlTextarea1.form-control(rows='3' name="ghiChu")=spend.ghiChu
        //- p Select a date: 
        //-     input(type='date' name='date')
        button.btn.btn-primary.mt-5.mr-5(type='submit') Save
        button.btn.btn-primary.mt-5.ml-5.mr-5(type='reset') Reset
        a.btn.btn-danger.ml-5.mt-5(href='/home') Cancel


